In [1]:
import tft.ql.expr as ql
from tft.ql.util import *
from tft.client.meta import *
from tft.queries.comps import query_comps, query_top_comps, query_comp_details
from tft.queries.traits import query_traits, get_trait_name_map
import pandas as pd
create_client(MetaTFTClientType.ONLINE_ONLY)

In [2]:
data = query_comps().map(ql.sub({
    "units": ql.idx("units"),
    "avg_place": ql.idx("avg_place").unary(lambda x : float(x)),
    "level": ql.idx("level").unary(lambda x : int(x)),
    "cluster": ql.idx("cluster"),
    "games": ql.idx("games").unary(lambda x : int(x))
})).eval()

df = pd.DataFrame(data)
# query_comps().eval()

In [ ]:
# Level filter.
filtered = df[df['level'] == 10]
# Avg place filter.
filtered = filtered[filtered['avg_place'] < 4]
# Games filter.
filtered = filtered[filtered['games'] >= 1000]
filtered = filtered.sort_values('avg_place')
filtered

,units,avg_place,level,cluster,games
4515,"[TFT16_Ahri, TFT16_Jhin, TFT16_Kennen, TFT16_S...",1.1264,10,386036,174
4833,"[TFT16_Ahri, TFT16_Jhin, TFT16_Kennen, TFT16_S...",1.1563,10,386007,160
3668,"[TFT16_Ambessa, TFT16_Briar, TFT16_Darius, TFT...",1.1881,10,386048,218
247,"[TFT16_Ahri, TFT16_Jhin, TFT16_Kennen, TFT16_S...",1.1914,10,386036,2785
3481,"[TFT16_Fizz, TFT16_Gangplank, TFT16_Graves, TF...",1.1983,10,386064,232
...,...,...,...,...,...
6407,"[TFT16_Ambessa, TFT16_Braum, TFT16_Gwen, TFT16...",3.6389,10,386019,108
4464,"[TFT16_BaronNashor, TFT16_BelVeth, TFT16_ChoGa...",3.6420,10,386006,176
6164,"[TFT16_Annie, TFT16_AnnieTibbers, TFT16_Fizz, ...",3.8435,10,386014,115
2505,"[TFT16_BaronNashor, TFT16_BelVeth, TFT16_ChoGa...",3.8468,10,386006,346
3565,"[TFT16_BaronNashor, TFT16_BelVeth, TFT16_ChoGa...",3.8933,10,386006,225